<!-- Button trigger modal -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataitem of ClienteList">
      <td>{{dataitem.id}}</td>
      <td>{{dataitem.nome}}</td>
      <td>{{dataitem.sobrenome}}</td>
      <td>
        <button type="button" class="btn btn-light mr-1"
        (click)="deleteClick(dataitem)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<form #usersForm="ngForm" (ngSubmit)="getUserFormDataPost(usersForm.value)">
  <label>Adicionar Cliente</label>
  <div class="form-group">
    <label>Nome:</label>
    <input type="text" ngModel name="Nome">
  </div>
  <div class="form-group">
    <label >Sobrenome:</label>
    <input type="text" ngModel name="Sobrenome">
  </div>
  <input type="submit" name="Adicionar Cliente">
</form>

<form #usersFormSegundo="ngForm" (ngSubmit)="getUserFormDataPut(usersFormSegundo.value)">
  <label>Atualizar Cliente</label>
  <div class="form-group">
    <label>Id:</label>
    <input type="text" ngModel name="Id">
  </div>
  <div class="form-group">
    <label>Nome:</label>
    <input type="text" ngModel name="Nome">
  </div>
  <div class="form-group">
    <label>Sobrenome:</label>
    <input type="text" ngModel name="Sobrenome">
  </div>
  <input type="submit" name="Atualizar cliente">
</form>

